{% extends 'menu_teacher.html' %}
{% block session_body %}

<script>
function displayAttendance() {
  const ABSENT_COLOR = "#c6979d";
  const PRESENT_COLOR = "#53e079";
  let absences = document.getElementById("absences");
  let class_div, class_header;
  let name, instructor, daypart, location, enrolled;
  let sname, sgrade, shomeroom, td;
  let table, thead, tbody, row, header, none_div;

  {% for c in classes %}
    class_div = document.createElement("div");
    class_div.id = "attend-view-class";
    class_header = document.createElement("div");
    class_header.style.display = "flex";
    class_header.id = "attend-view-header";

    name = document.createElement("div");
    instructor = document.createElement("div");
    daypart = document.createElement("div");
    location = document.createElement("div");
    enrolled = document.createElement("div");

    name.style.width = "350px";
    name.style.fontSize = "1.1em";
    instructor.style.width = "280px";
    daypart.style.width = "150px";
    location.style.width = "150px";
    enrolled.style.width = "50px";

    name.innerHTML = "{{c['name']}}";
    instructor.innerHTML = "{{c['instructor']}}";
    daypart.innerHTML = "{{c['daypart']}}";
    location.innerHTML = "{{c['location']}}";
    enrolled.innerHTML = "{{c['roster']|length}} / {{c['max_enrollment']}}";
    class_header.append(name, instructor, daypart, location, enrolled);
    class_div.appendChild(class_header);

    {% if c['roster']|length == 0 %}
      none_div = document.createElement("div");
      none_div.innerHTML = "There are no students in this class.";
      class_div.appendChild(none_div);
      absences.appendChild(class_div);
    {% else %}
      table = document.createElement("table");
      table.id = "attend-view-class-table";
      thead = document.createElement("thead");
      row = document.createElement("tr");
      header = document.createElement("th")
      row.appendChild(header);
      header = document.createElement("th")
      header.innerHTML = "gr";
      row.appendChild(header);
      header = document.createElement("th")
      header.innerHTML = "rm";
      row.appendChild(header);
      {% for d in c['dates_sorted'] %}
        header = document.createElement("th");
        header.style.width = "50px";
        header.innerHTML = "{{d[1]}}";
        {% if c['attendance'][d[0]]['note'] != '' %}
          header.innerHTML += "*";
        {% endif %}
        header.title = "{{c['attendance'][d[0]]['note']}}";
        row.appendChild(header);
      {% endfor %}
      thead.appendChild(row);
      table.appendChild(thead);
      tbody = document.createElement("tbody");

      {% for s in c['roster'] %}
        row = document.createElement("tr");
        sname = document.createElement("td");
        sgrade = document.createElement("td");
        shomeroom = document.createElement("td");
        sname.style.width = "200px";
        sgrade.style.width = "16px";
        shomeroom.style.width = "20px";
        sname.innerHTML = "{{s['first']}} {{s['last']}}";
        sgrade.innerHTML = "{{s['current_grade']}}";
        shomeroom.innerHTML = "{{s['current_homeroom']}}";
        row.append(sname, sgrade, shomeroom);
 
        {% for d in c['dates_sorted'] %}
          td = document.createElement("td");
          {% if s['email'] in c['attendance'][d[0]]['absent'] %}
            td.innerHTML = "X";
            td.style.background = ABSENT_COLOR;
            td.title = "{{c['attendance'][d[0]]['note']}}";
          {% elif s['email'] in c['attendance'][d[0]]['present'] %}
            td.innerHTML = "\u2713";
            td.style.background = PRESENT_COLOR;
            td.title = "{{c['attendance'][d[0]]['note']}}";
          {% else %}
            td.innerHTML = " ";
            td.title = "{{c['attendance'][d[0]]['note']}}";
          {% endif %}
          td.style.textAlign = "center";
          row.append(td);
        {% endfor %}
        tbody.appendChild(row);
      {% endfor %}

      table.appendChild(tbody);
      class_div.appendChild(table);
      absences.appendChild(class_div);
    {% endif %}
  {% endfor %}
}

function fillDaypartDropDown() {
  let daypart_dd = document.getElementById("daypartDropDown");
  let opt = document.createElement("option");
  opt.text = "All";
  opt.selected = "selected";
  daypart_dd.add(opt);

  {% for dp in dayparts %}
    opt = document.createElement("option");
    opt.text = "{{dp['name']}}";
    {% if dp['name'] == selected_daypart %}
      opt.selected = "selected";
    {% endif %}
    daypart_dd.add(opt);
  {% endfor %}
}

function sendGet(params) {
  let form = document.createElement("form");
  form.setAttribute("method", "get");
  for (let key in params) {
    if (params.hasOwnProperty(key)) {
      let hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", key);
      hiddenField.setAttribute("value", params[key]);
      form.appendChild(hiddenField);
    }
  }
  document.body.appendChild(form);
  form.submit();
}

window.onload = function() {
  let start_input = document.getElementById("startDate");
  let end_input = document.getElementById("endDate");
  let daypart_dd = document.getElementById("daypartDropDown");

  fillDaypartDropDown();
  displayAttendance();

  daypart_dd.onchange = function() {
    sendGet({"institution" : "{{institution}}",
             "session" : "{{session}}",
             "selected_daypart": daypart_dd.value});    
  }
}
</script>

{% if not teacher %}
<div>Teacher not found! This error should never happen.<br>Please inform the selectives team: <a href="mailto:selectives@discoveryk8.org">selectives@discoveryk8.org</a></div>
{% else %}
<h3 id="myHeader" style="margin-top:4px; margin-bottom:4px">View Attendance</h3>
<div>
  <div id="instructions" style="margin-top:5px; margin-bottom:7px">Newer data may be available. Refresh the page to see the most up-to-date attendance as this page does not refresh automatically.
  <br>Tip: Hover your mouse over a column to read notes left by the instructor. An asterisk next to a date indicates that a note exists.</div>
  <div class="attend-view-by">
    <label for="daypartDropDown">Classes to display:</label>
    <select id="daypartDropDown"></select>
  </div>
  <div id="absences"></div>
</div>
{% endif %}
{% endblock %}
