    <script type="module">
      // import Firebase module attributes
      import {
              initializeApp
      } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
      import {
              GoogleAuthProvider,
              getAuth,
              onAuthStateChanged,
              signInWithPopup,
              signOut
      } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";
      
{% include '_firebase_config.js' %}

      // initialize Firebase app & auth components
      initializeApp(firebaseConfig);
      var auth = getAuth();
      var provider = new GoogleAuthProvider();
      //provider.setCustomParameters({prompt: 'select_account'});
      
      // define login and logout button functions
      function login() {
          signInWithPopup(auth, provider);
      };
      
      function logout() {
          signOut(auth);
      };
      
      // check if admin & switch to logout button on login; reset everything on logout
      onAuthStateChanged(auth, async (user) => {
          if (user && user != null) {
            var email = user.email;
            who.innerHTML = email;
            logbtn.onclick = logout;
            logbtn.innerHTML = "Sign out";
            var uid = await user.uid;
            if (!document.getElementById("body-user").firstElementChild || uid != document.getElementById("body-user").firstElementChild.getAttribute('uid')) {
              var idToken = await user.getIdToken();
              // get authenticated contents
              var rsp = await fetch("/", {
                      method: "GET",
                      headers: {Authorization: idToken}
              })
              var redirect = await rsp.headers.get('selectives-redirect');
              console.log("authenticated: redirect="+redirect);
              if(redirect) {
                window.location.href=redirect
              } else {
                var html = await rsp.text();
                var doc = new DOMParser().parseFromString(html,'text/html');
                document.getElementById("body-user").innerHTML=doc.getElementById('body-user').innerHTML;
                document.getElementById("who").innerHTML = email;
                document.getElementById("logbtn").onclick = logout;
                document.getElementById("logbtn").innerHTML = "Sign out";
              }
            }
            document.body.style.display="block"
          } else { 
            var redirect;
            if (document.getElementById("body-user").firstElementChild.getAttribute('uid')!="None") {
              var rsp = await fetch('/sessionSignout', {
                      method: "POST"
              })
              redirect = await rsp.headers.get('selectives-redirect');
            } else {
              redirect = document.getElementById("body-user").firstElementChild.getAttribute('redirect');
            }
            //console.log("NOT authenticated: redirect="+redirect);
            if(redirect) {
              window.location.href=redirect
            } else {
              who.innerHTML = "";
              admin.style.display = "none";
              logbtn.onclick = login;
              logbtn.innerHTML = "Sign in";
              if(document.getElementById("welcome-user")){
                //console.log("welcome-user")
              } else {
                document.getElementById("body-user").innerHTML="";
              }
            }
          }
      });
    </script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>