    <script>
      function bootstrapfy() {
        if ($('#sidebar').length) { 
          $('#sidebarButton').removeClass( "d-none" );
        } else {
          $('#sidebarButton').addClass( "d-none" );
        }        
        $('input[type=date]').addClass('form-control');
        $('textarea').attr('style','').addClass('form-control');
        $("textarea").on('change keyup paste', function() {
          $(this).val($(this).val().replace(/(^"|"$)/,''));
        });
        $('select').addClass('form-select');
        $('.copy-to-clipboard').click(function () {
          $(this).select();
          document.execCommand("copy");    
        });
        $('.copy-to-clipboard').attr('data-bs-toggle','popover').attr('data-bs-content','Copied!').attr('data-bs-trigger','focus');
        $('[data-bs-toggle="popover"]').popover();
      }
      var who    = document.getElementById("who");
      var admin  = document.getElementById("admin");
      var logbtn = document.getElementById("logbtn");
      var msg    = document.getElementById("message");
      window.addEventListener("load", (event) => {
      	bootstrapfy();
      });
    </script>
