<!DOCTYPE html>
<!-- Common header used by all student viewable pages. -->
{% autoescape true %}
<html lang="en">
  <head>
    <title>Discovery Selectives</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/main.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    {% include '_script_head.html' %}
  </head>
  <body id="body-user">
    <div id="body-user-inner" redirect="{{ redirect }}" uid="{{ uid }}">
    <div id="header-user">
      <div id="logo-user">
        <img src="{{ url_for('static', filename='/images/DiscoveryMascot_Logo_Tiny.jpg') }}" alt="DCS phoenix logo" width="50px">
        <div id=title-user>Discovery Selectives</div>
      </div>
      <div id="session-user">{% if session %}{{session}}{% endif %}</div>
      {% include '_user.html' %}
    </div>
    <div id="block_body">
        {% block body %} {% endblock %}
    </div>
    </div>
    {% include '_script_body.html' %}
  </body>
</html>
{% endautoescape %}
