{% extends 'base_user.html' %}
{% block body %}
<script>
function makeActive() {
}
window.onload = function() {
  let elems = document.querySelectorAll('li');
  for (let i=0; i<elems.length; i++) {
    elems[i].classList.remove('menu-user-active');
  }
  let active = null;
  if (window.location.pathname == '/preregistration') {
    active = document.getElementById('menu-user-prereg');
  }
  if (window.location.pathname == '/schedule') {
    active = document.getElementById('menu-user-sched');
  }
  if (window.location.pathname == '/postregistration') {
    active = document.getElementById('menu-user-postreg');
  }
  if (active != null) {
    active.classList.add('menu-user-active');
    let a = active.querySelector('a');
    a.classList.add('active');
  } else {
    if (window.location.pathname == '/coming_soon') {
      //console.log("coming_soon");
    } else {
      console.log("menu_student.html pathname error");
    }
  }
};
</script>
<div id="menu-user-wrapper">
  <div id="menu-user-spacer-left"></div>
  <ul class="nav nav-tabs justify-content-center" id="menu-user">
    <li class="px-lg-4 py-lg-1 nav-item" id='menu-user-prereg' ><a class="nav-link" href="/preregistration?{{ session_query }}{{ impersonation }}" ><span class="d-none d-lg-inline">Step 1 - </span>Materials</a></li>
    <li class="px-lg-4 py-lg-1 nav-item" id='menu-user-sched'  ><a class="nav-link" href="/schedule?{{ session_query }}{{ impersonation }}"        ><span class="d-none d-lg-inline">Step 2 - </span>Register</a></li>
    <li class="px-lg-4 py-lg-1 nav-item" id='menu-user-postreg'><a class="nav-link" href="/postregistration?{{ session_query }}{{ impersonation }}"><span class="d-none d-lg-inline">Step 3 - </span>Final Schedule</a></li>
  </ul>
  <div id="menu-user-spacer-right"></div>
</div>
<div id="main-user" class="d-flex justify-content-center p-3 gap-3 overflow-auto">
  {% block session_body %} {% endblock %}
</div>

{% endblock body %}
