{% extends 'base_user.html' %}
{% block body %}

<div id="main-teacher">
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="sidebar">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">{% if session %}{{session}}{% endif %}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebar"></button>
    </div>

    <div class="offcanvas-body" id="menu-teacher">
      <ul class="nav flex-column mb-sm-auto mb-0 align-items-start">
        <li>
          <h3>Attendance</h3>
          <ul>
            <li>
              <a href="/teacher/take_attendance?{{ session_query }}">Take Attendance</a>
            </li>
            <li>
              <a href="/teacher/view_absence?{{ session_query }}">View Absence</a>
            </li>
            <li>
              <a href="/teacher/view_attendance?{{ session_query }}">View Attendance</a>
            </li>
            <li>
              <a href="/teacher/view_by_homeroom?{{ session_query }}">View By Homeroom</a>
            </li>
          </ul>
        </li>
        <li>
          <h3>Reports</h3>
          <ul>
            <li>
              <a href="/report/student_emails?{{ session_query }}">Student Emails</a>
            </li>
            <li>
              <a href="/teacher/courses?{{ session_query }}">Registration Status</a>
            </li>
            <li>
              <a href="/error_registration?{{ session_query }}">Show Errors</a>
            </li>
            <li>
              <a href="/report/attendance_list?{{ session_query }}">Attendance Sheets</a>
            </li>
            <li>
              <a href="/report/student_schedules?{{ session_query }}">Student Schedules</a>
            </li>
            <li>
              <a href="/report/student_schedules_marked?{{ session_query }}">Student Schedules Boxed</a>
            </li>
            <li><a href="/report/label?{{ session_query }}">Attendance Labels</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="view-teacher">
  {% block session_body %} {% endblock %}
  </div>
</div>

{% endblock body %}
