<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Discovery Selectives</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/main.css') }}" />
  </head>
  <body>

{% if not data.student %}
Student not found! This error should never happen. Please inform the selectives team. Thanks!
{% else %}
<h2 style="margin-bottom:0">
  Selectives Schedule - {{session}}<br>
  {{ data.student['first'] + ' ' + data.student['last'] }}
</h2>
<h3 style="margin-bottom:4px; margin-top:4px">
  Homeroom: {{ data.student['current_homeroom'] }}<br>
  Grade: {{ data.student['current_grade'] }}<br>
</h3>
<table>
  {% for row in data.dayparts_ordered %}
  <tr>
    <td class="schedPostRegRowHeader"></td>
    {% for daypart in row %}
    <td class="schedPostRegHeader">{{ daypart }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td class="schedPostRegRowHeader">
      Class:<br>
      Location:<br>
      Instructor:<br>
      Donation:
    </td>
    {% for daypart in row %}
      <td class="schedPostRegItem">
      {% if data.schedule_by_daypart[daypart] %}
        {{ data.schedule_by_daypart[daypart]['name'] }}<br>
        {% for s in data.schedule_by_daypart[daypart]['schedule'] %}
          {% if s['daypart'] == daypart %}
          {{ s['location'] }}<br>
          {% endif %}
        {% endfor %}
        {{ data.schedule_by_daypart[daypart]['instructor'] }}<br>
        {{ data.schedule_by_daypart[daypart]['donation'] }}<br>
      {% endif %}
      </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}
</body>
</html>
{% endautoescape %}