{% if data.user_type == 'Admin' %}
  {% extends 'menu.html' %}
{% elif data.user_type == 'Teacher' %}
  {% extends 'menu_teacher.html' %}
{% endif %}
{% block session_body %}

<script>
function displayAttendance() {
  const ABSENT_COLOR = "#c6979d";
  const PRESENT_COLOR = "#53e079";
  let absences = document.getElementById("absences");
  let class_div, class_header;
  let name, instructor, daypart, location, enrolled;
  let sname, sgrade, shomeroom, td;
  let table, thead, tbody, tfoot, row, header, none_div;

  {% for c in data.classes %}
    class_div = document.createElement("div");
    class_div.className += "attend-view-class";
    class_div.className += " container-fluid";
    class_header = document.createElement("div");
    class_header.className += "attend-view-header";
    class_header.className += " row";

    name = document.createElement("div");
    instructor = document.createElement("div");
    daypart = document.createElement("div");
    location = document.createElement("div");
    enrolled = document.createElement("div");

    name.className += "col-lg-4";
    instructor.className += "col-lg-3";
    daypart.className += "col-lg-2";
    location.className += "col-lg-2";
    enrolled.className += "col-lg-1";

    name.innerHTML = "{{c['name']}}";
    instructor.innerHTML = "{{c['instructor']}}";
    daypart.innerHTML = "{{c['daypart']}}";
    location.innerHTML = "{{c['location']}}";
    enrolled.innerHTML = "{{c['roster']|length}} / {{c['max_enrollment']}}";
    class_header.append(name, instructor, daypart, location, enrolled);
    class_div.appendChild(class_header);

    {% if c['roster']|length == 0 %}
      none_div = document.createElement("div");
      none_div.innerHTML = "There are no students in this class.";
      class_div.appendChild(none_div);
      absences.appendChild(class_div);
    {% else %}
      table = document.createElement("table");
      table.className += "attend-view-class-table compact stripe";
      thead = document.createElement("thead");
      row = document.createElement("tr");
      header = document.createElement("th");
      header.innerHTML = "name";
      row.appendChild(header);
      header = document.createElement("th");
      header.innerHTML = "gr";
      row.appendChild(header);
      header = document.createElement("th");
      header.innerHTML = "rm";
      row.appendChild(header);
      {% for d in c['dates_sorted']|reverse  %}
        header = document.createElement("th");
        header.innerHTML = "{{d[1]}}";
        {% if c['attendance'][d[0]]['note'] %}
          header.innerHTML += "*";
        {% endif %}
        header.title = "{{c['attendance'][d[0]]['note']}}";
        row.appendChild(header);
      {% endfor %}
      thead.appendChild(row);
      table.appendChild(thead);
      tbody = document.createElement("tbody");

      {% for s in c['roster'] %}
        row = document.createElement("tr");
        sname = document.createElement("td");
        sgrade = document.createElement("td");
        shomeroom = document.createElement("td");
        sname.innerHTML = "{{s['first']}} {{s['last']}}";
        sgrade.innerHTML = "{{s['current_grade']}}";
        shomeroom.innerHTML = "{{s['current_homeroom']}}";
        row.append(sname, sgrade, shomeroom);
 
        {% for d in c['dates_sorted']|reverse  %}
          td = document.createElement("td");
          td.title = "{{c['attendance'][d[0]]['note']}}";
          {% if s['email'] in c['attendance'][d[0]]['absent'] %}
            td.innerHTML = "X";
            td.style.background = ABSENT_COLOR;
          {% elif s['email'] in c['attendance'][d[0]]['present'] %}
            td.innerHTML = "\u2713";
            td.style.background = PRESENT_COLOR;
          {% else %}
            td.innerHTML = " ";
          {% endif %}
          td.style.textAlign = "center";
          row.append(td);
        {% endfor %}
        tbody.appendChild(row);
      {% endfor %}
      table.appendChild(tbody);

      // seperate instructors into table footer only is owners list non-empty
      {% if c['owners']|length > 0 %} 
        tfoot = document.createElement("tfoot");
        row = document.createElement("tr");
        row.className += "bg-body-tertiary";
        sname = document.createElement("td");
        sgrade = document.createElement("td");
        shomeroom = document.createElement("td");
        //sname.innerHTML = "<span class='d-none d-lg-inline'>---- Instructors ----</span>";
        sname.innerHTML = "---- Instructors ----";
        sname.setAttribute('colspan',3+{{c['dates_sorted']|length}});
        row.append(sname);
        /*
        row.append(sname, sgrade, shomeroom);
        {% for d in c['dates_sorted']|reverse  %}
          td = document.createElement("td");
          row.append(td);
        {% endfor %} 
        */     
        tfoot.appendChild(row);

        {% for email, adult in c['owners'].items() %}
          row = document.createElement("tr");
          sname = document.createElement("td");
          sgrade = document.createElement("td");
          shomeroom = document.createElement("td");
          sname.innerHTML = "{{adult['first']}} {{adult['last']}}";
          {% if 'grade' in adult %}
            sgrade.innerHTML = "{{adult['grade']}}";
          {% else %}
            sgrade.innerHTML = "--";
          {% endif %}

          {% if 'current_homeroom' in adult %}
            shomeroom.innerHTML = "{{adult['current_homeroom']}}";
          {% else %}
            shomeroom.innerHTML = "--";
          {% endif %}
          row.append(sname, sgrade, shomeroom);

          {% for d in c['dates_sorted']|reverse %}
            td = document.createElement("td");
            td.title = "{{c['attendance'][d[0]]['note']}}";
            {% if email in c['attendance'][d[0]]['absent_adults'] %}
              td.innerHTML = "X";
              td.style.background = ABSENT_COLOR;
            {% elif email in c['attendance'][d[0]]['present_adults'] %}
              td.innerHTML = "\u2713";
              td.style.background = PRESENT_COLOR;
            {% else %}
              td.innerHTML = " ";
            {% endif %}
            td.style.textAlign = "center";
            row.append(td);
          {% endfor %}

          tfoot.appendChild(row);
        {% endfor %}
        table.appendChild(tfoot);
      {% endif %}

      class_div.appendChild(table);
      absences.appendChild(class_div);
    {% endif %}
  {% endfor %}
  new DataTable('.attend-view-class-table', {
    responsive: true,
    fixedColumns: true,
    searching: false, paging: false, info: false,
    scrollCollapse: true,
    scrollX: true,
    scrollY: 300,
    drawCallback: function( settings ) {
      // Reset margin to 0 after datatable render
      $('.dataTables_scrollBody .dataTable').css('margin','0');
      $('.attend-view-class-table tr      th:first-child').css({'background-color':'#ffffff','z-index':1});
      $('.attend-view-class-table tr.even td:first-child').css('background-color','#ffffff');
      $('.attend-view-class-table tr.odd  td:first-child').css('background-color','#f9f9f9');
      $('.attend-view-class .dt-row .col-sm-12').addClass('p-0');
    },
  });
}

function fillDaypartDropDown() {
  let daypart_dd = document.getElementById("daypartDropDown");
  let opt = document.createElement("option");
  opt.text = "All";
  opt.selected = "selected";
  daypart_dd.add(opt);

  {% for dp in data.dayparts %}
    opt = document.createElement("option");
    opt.text = "{{dp['name']}}";
    {% if dp['name'] == data.selected_daypart %}
      opt.selected = "selected";
    {% endif %}
    daypart_dd.add(opt);
  {% endfor %}
}

function sendGet(params) {
  let form = document.createElement("form");
  form.setAttribute("method", "get");
  for (let key in params) {
    if (params.hasOwnProperty(key)) {
      let hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", key);
      hiddenField.setAttribute("value", params[key]);
      form.appendChild(hiddenField);
    }
  }
  document.body.appendChild(form);
  form.submit();
}

window.onload = function() {
  let start_input = document.getElementById("startDate");
  let end_input = document.getElementById("endDate");
  let daypart_dd = document.getElementById("daypartDropDown");

  fillDaypartDropDown();
  displayAttendance();

  daypart_dd.onchange = function() {
    sendGet({"institution" : "{{institution}}",
             "session" : "{{session}}",
             "selected_daypart": daypart_dd.value});    
  }
}
</script>

<h3 id="myHeader" style="margin-top:4px; margin-bottom:4px">View Attendance</h3>
<div>
  <div id="instructions" style="margin-top:5px; margin-bottom:7px">Newer data may be available. Refresh the page to see the most up-to-date attendance as this page does not refresh automatically.
  <br>Tip: Hover your mouse over a column to read notes left by the instructor. An asterisk next to a date indicates that a note exists.</div>
  <div class="attend-view-by row pb-3 gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label for="daypartDropDown">Classes to display:</label>
    <select id="daypartDropDown"></select>
  </div>
  </div>
  <div id="absences"></div>
</div>
{% endblock %}
