{% if data.user_type == 'Admin' %}
  {% extends 'menu.html' %}
{% elif data.user_type == 'Teacher' %}
  {% extends 'menu_teacher.html' %}
{% endif %}
{% block session_body %}

<script>
function displayAttendance() {
  const ABSENT_COLOR = "#c6979d";
  const PRESENT_COLOR = "#53e079";
  // console.log("{{data}}");
  let absences = document.getElementById("absences");
  let class_div, class_header;
  let course, instructor, daypart, location, enrolled;
  let first, last, grade, homeroom, td;
  let table, thead, tbody, row, header, none_div;
  let courseInfo, personInfo, dates;

  function displayCourseHeader(c) {
    class_div = document.createElement("div");
    class_div.className += "attend-view-class";
    class_div.className += " container-fluid";
    class_header = document.createElement("div");
    class_header.className += "attend-view-header";
    class_header.className += " row";

    course = document.createElement("div");
    instructor = document.createElement("div");
    daypart = document.createElement("div");
    location = document.createElement("div");
    enrolled = document.createElement("div");

    course.className += "col-lg-4";
    instructor.className += "col-lg-3";
    daypart.className += "col-lg-2";
    location.className += "col-lg-2";
    enrolled.className += "col-lg-1";

    course.innerHTML = c.name;
    instructor.innerHTML = c.instructor;
    daypart.innerHTML = c.daypart;
    location.innerHTML = c.location;
    enrolled.innerHTML = c.enrolled + '/' + c.max_enrollment;
    class_header.append(course, instructor, daypart, location, enrolled);
    class_div.appendChild(class_header);
  }

  function displayHeader(dates) {
    console.log(dates);
    table = document.createElement("table");
    table.className += "attend-view-class-table compact stripe";
    thead = document.createElement("thead");
    row = document.createElement("tr");
    header = document.createElement("th");
    header.innerHTML = "first";
    row.appendChild(header);
    header = document.createElement("th");
    header.innerHTML = "last";
    row.appendChild(header);
    header = document.createElement("th");
    header.innerHTML = "gr";
    row.appendChild(header);
    header = document.createElement("th");
    header.innerHTML = "rm";
    row.appendChild(header);

    if (dates) {
      for (let date of dates) {
        header = document.createElement("th");
        header.innerHTML = date[1];
        if (date[0] !== '' && date[0] !== 'None') {
          header.innerHTML += "*";
          header.title = date[0];
        }
        row.appendChild(header);
      }
    }
    thead.appendChild(row);
    table.appendChild(thead);
    tbody = document.createElement("tbody");
  }

  function displayHeaderNone(msg) {
    none_div = document.createElement("div");
    none_div.innerHTML = msg;
    class_div.appendChild(none_div);
    absences.appendChild(class_div);
  }

  function displaySingleRow(s, dates) {
    row = document.createElement("tr");
    first = document.createElement("td");
    last = document.createElement("td");
    grade = document.createElement("td");
    homeroom = document.createElement("td");
    first.innerHTML = s.first;
    last.innerHTML = s.last;
    grade.innerHTML = s.grade ? s.grade : "--";
    homeroom.innerHTML = s.homeroom ? s.homeroom : "--";
    row.append(first, last, grade, homeroom);

    if (dates) {
      for (let date of dates) {
        td = document.createElement("td");
        td.title = date[0];
        let present = s.attendance.shift();

        td.style.textAlign = "center";
        if (present) {
          td.innerHTML = "\u2713";
          td.style.background = PRESENT_COLOR;
        } else {
          td.innerHTML = "X";
          td.style.background = ABSENT_COLOR;
        }
        row.append(td);
      }
      tbody.appendChild(row);
    }
  }

  {% for c in data.classes %}

    // Student Attendance Table
    courseInfo = {
      name: "{{c['name']}}",
      instructor: "{{c['instructor']}}",
      daypart: "{{c['daypart']}}",
      location: "{{c['location']}}",
      enrolled: "{{c['roster']|length}}",
      max_enrollment: "{{c['max_enrollment']}}"
    }
    displayCourseHeader(courseInfo);

    {% if c['roster']|length == 0 %}
      displayHeaderNone("There are no students in this class.");

    {% else %}
      dates = [];
      {% for d in c['dates_sorted']|reverse  %}
        dates.push(["{{c['attendance'][d[0]]['note']}}", "{{d[0]}}", "{{d[1]}}"]);
      {% endfor %}
      displayHeader(dates);

      {% for student in c['roster'] %}
        personInfo = {
          first: "{{student['first']}}",
          last: "{{student['last']}}",
          grade: "{{student['current_grade']}}",
          homeroom: "{{student['current_homeroom']}}",
          attendance: []
        }

        {% for d in c['dates_sorted']|reverse  %}
          {% if student['email'] in c['attendance'][d[0]]['absent'] %}
            personInfo.attendance.push(false);
          {% elif student['email'] in c['attendance'][d[0]]['present'] %}
            personInfo.attendance.push(true);
          {% endif %}
        {% endfor %}
        displaySingleRow(personInfo, dates);

      {% endfor %}

      table.appendChild(tbody);
      class_div.appendChild(table);
      absences.appendChild(class_div);
    {% endif %}


    // Instructor Attendance Table

    // 'courseInfo' was previously set; replacing just the course name.
    courseInfo.name = "{{c['name']}}" + " INSTRUCTORS";
    displayCourseHeader(courseInfo);

    {% if c['instructor_attendance']|length == 0 %}
      displayHeaderNone("No instructors. Add instructors for attendance from Setup/Classes.");

    {% else %}
      // 'dates' was previously set
      displayHeader(dates);

      {% for adult in c['instructor_attendance'] %}
        personInfo = {
          first: "{{adult['first']}}",
          last: "{{adult['last']}}",
          grade: "{{adult['grade']}}",
          homeroom: "{{adult['homeroom']}}",
          attendance: []
        }

        {% for d in c['dates_sorted']|reverse %}
          {% if adult['first']+'_'+adult['last'] in c['attendance'][d[0]]['absent_adults'] %}
            personInfo.attendance.push(false);
          {% elif adult['first']+'_'+adult['last'] in c['attendance'][d[0]]['present_adults'] %}
            personInfo.attendance.push(true);
          {% endif %}
        {% endfor %}

        displaySingleRow(personInfo, dates);
      {% endfor %}
      
      table.appendChild(tbody);
      class_div.appendChild(table);
      absences.appendChild(class_div);
    {% endif %}
  {% endfor %}

  new DataTable('.attend-view-class-table', {
    responsive: true,
    fixedColumns: true,
    searching: false, paging: false, info: false,
    scrollCollapse: true,
    scrollX: true,
    scrollY: 300,
    drawCallback: function( settings ) {
      // Reset margin to 0 after datatable render
      $('.dataTables_scrollBody .dataTable').css('margin','0');
      $('.attend-view-class-table tr      th:first-child').css({'background-color':'#ffffff','z-index':1});
      $('.attend-view-class-table tr.even td:first-child').css('background-color','#ffffff');
      $('.attend-view-class-table tr.odd  td:first-child').css('background-color','#f9f9f9');
      $('.attend-view-class .dt-row .col-sm-12').addClass('p-0');
    },
  });
}

function fillDaypartDropDown() {
  let daypart_dd = document.getElementById("daypartDropDown");
  let opt = document.createElement("option");
  opt.text = "All";
  opt.selected = "selected";
  daypart_dd.add(opt);

  {% for dp in data.dayparts %}
    opt = document.createElement("option");
    opt.text = "{{dp['name']}}";
    {% if dp['name'] == data.selected_daypart %}
      opt.selected = "selected";
    {% endif %}
    daypart_dd.add(opt);
  {% endfor %}
}

function sendGet(params) {
  let form = document.createElement("form");
  form.setAttribute("method", "get");
  for (let key in params) {
    if (params.hasOwnProperty(key)) {
      let hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", key);
      hiddenField.setAttribute("value", params[key]);
      form.appendChild(hiddenField);
    }
  }
  document.body.appendChild(form);
  form.submit();
}

window.onload = function() {
  let start_input = document.getElementById("startDate");
  let end_input = document.getElementById("endDate");
  let daypart_dd = document.getElementById("daypartDropDown");

  fillDaypartDropDown();
  displayAttendance();

  daypart_dd.onchange = function() {
    sendGet({"institution" : "{{institution}}",
             "session" : "{{session}}",
             "selected_daypart": daypart_dd.value});    
  }
}
</script>

<h3 id="myHeader" style="margin-top:4px; margin-bottom:4px">View Attendance</h3>
<div>
  <div id="instructions" style="margin-top:5px; margin-bottom:7px">Newer data may be available. Refresh the page to see the most up-to-date attendance as this page does not refresh automatically.
  <br>Tip: Hover your mouse over a column to read notes left by the instructor. An asterisk next to a date indicates that a note exists.</div>
  <div class="attend-view-by row pb-3 gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label for="daypartDropDown">Classes to display:</label>
    <select id="daypartDropDown"></select>
  </div>
  </div>
  <div id="absences"></div>
</div>
{% endblock %}
